#footer{
	padding-top: 55px;
	background-color: #303030;
}
#footer .h3_style{
	margin-bottom: 25px;
	color: #4183d7;
}
#footer .text_style{
	color: #b0b0b0;
}
#footer li{
	display: flex;
	justify-content: space-between;
}
#footer .footer_copy{
	margin-top: 125px;
	padding: 45px 0;

	background-color: #0f0f0f;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
}