#footer{
	padding-top: 95px;
	background-color: #303030;
}
@media (max-width: 768px){
	#footer{
		text-align: center;
	}
	#footer .container div{
		margin-bottom: 25px;
	}
	#footer .footer_copy{
		margin-top: 70px !important;
	}
	#footer .footer_copy span{
		float: none !important;
		display: block;
		text-align: center;
	}
	#footer .footer_copy a{
		float: none !important;
		position: relative;
		top: 10px;
	}
}
#footer .h3_style{
	margin-bottom: 25px;
	color: #4183d7;
}
#footer .text_style{
	color: #b0b0b0;
}
#footer li{
	display: flex;
	justify-content: space-between;
}
#footer .footer_copy{
	margin-top: 125px;
	padding: 35px 0;

	background-color: #0f0f0f;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
}
	#footer .footer_copy span{ 
		display: block;
		line-height: 35px;
	}
	#footer .footer_copy a{
		display: inline-block;
		margin-left: 5px;
		float: right;
		height: 35px;
	}

#footer .f_socials a{
	display: inline-block;
	width: 31px;
	height: 31px;
	margin-right: 12px;
	
	border: 1px solid #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	text-align: center;
	line-height: 31px;
	color: #fff;
}
	#footer .f_socials a:hover{
		text-decoration: none;
	}