.services,
.advantages,
.news,
.seo{
  /* + footer in footer.css*/
  padding-top: 95px;
} 

/* services section */
.services_slider{
  margin: 95px 0;
}
@media(max-width: 768px){
  .services_slider{
    margin: 25px 0 !important;
  }
}
.services_slider a{
  display: block;
  width: 100%;
  height: 100%;
}
  .services_slider a:hover{
    text-decoration: none;
  }
.services_slider h3{
  padding: 0 15px;
  font-size: 21px;
  color: #4183d7;
  font-weight: 600;
}
.services_slider .owl-item,
.services_items .item{
  /* 
    .services_items .item - services page 
  */
  height: 250px;

  opacity: .35;

  background: url('images/slider_item_bg.png') no-repeat 50% bottom;

  -webkit-background-size: contain;
  background-size: contain;

  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
  .services_slider .owl-item:hover{
    opacity: 1;
  }
  .services_slider .owl-item:hover h3{
    color: #fa7600;
  }

/* advantages section */
.advantages{ 
  height: 568px;

  background: url('images/advantages_bg.jpg') no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (max-width: 768px){
	.advantages{
		height: auto;
		padding-bottom: 95px;
		background: #4183d7;
	}
	.advantages .item{
		margin-bottom: 50px;
	}
  .advantages .text_style{
    text-align: center !important;
  }
}
.advantages .h2_style{
  margin-bottom: 95px;
}
.advantages .h3_title{
  margin-bottom: 20px;
  
  text-transform: uppercase;
  font-size: 21px;
  color: #ffffff;
}
.advantages img{
  display: inline-block;
  margin-bottom: 15px;
  height: 147px;
}
.advantages .text_style{
  text-align: left;
}
.advantages *{ color: #fff; }

/* news section */
.news{}
.news .items_wrapper{
  margin-top: 90px;
}
.news .item{
  position: relative;
  border-left: 4px solid #4183d7;
  margin-bottom: 15px;
}
.news .description{
  padding: 21px 18px 35px;
  background: #f8f8f8;
}
/* using on mainpage and news, global class */
  .item_date{
    position: absolute;
    z-index: 2;
    top: 31px;
    right: 1px;
    padding: 12px 13px;
    
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #4183d7;
  }
  .detailed {
    font-size: 14px;
    color: #fa7600;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    right: 20px;
    
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    
    transition: 0.5s color ease;
    text-decoration:none;
  }
    /* https://codepen.io/brenden/pen/RNZXqx */
    .detailed:hover{
      color: #000;
      text-decoration: none;
    }
    .detailed:after{
      content: "";
      transition:0.5s all ease;
      -webkit-backface-visibility:hidden;
      backface-visibility:hidden;
      position:absolute;
      bottom:-0.25em;
      height:2px;
      width:0;
      background:#4183d7;
      left:0;
    }
    .detailed:hover:after{
      width: 100%;
    }
/*  */
.news img{
  height: 300px;
}
@media(max-width: 768px){
  .news img{
    height: auto !important;
    width: 100%;
  } 
}
.news .h3_title{
  margin-bottom: 10px;
  font-weight: 600;
}


/* seo section */
.seo{
  padding-bottom: 95px;
  padding-top: 80px;
}