/* reset meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{ margin: 0; }

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* grid */
html{ height: 100%; }
body{ 
	display: flex; 
	flex-direction: column; 
	height: 100%; 

	font-size: 14px;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}
.inner_container{
  padding-top: 60px;
  padding-bottom: 95px;
}

#header{ flex: 0 0 auto; }
#wrapper{ flex: 1 0 auto; }
#footer{ flex: 0 0 auto; }

/* colors */
/* 
	grey #303030 
	blue #4183d7
	orange #fa7600
	white #fff
*/

/* font style */
.align_center{ text-align: center; }
.h1_style,
.h2_style,
.h3_style{ 
	font-weight: 700;
	text-transform: uppercase;
}
.h1_style, 
.h2_style{ font-size: 35px; }
.h2_style{ 
	margin-bottom: 15px;
	color: #4183d7;
}
.h3_style{ font-size: 24px; }
.text_style{
	font-size: 14px;
	line-height: 23px;
	color: #303030;
}
.title_small{
  margin-bottom: 15px;
  
  font-size: 14px;
  line-height: 14px !important;
  color: #303030;
  font-weight: 600;
}


/* breadcrumbs */
/* rewrite&add bootstrap*/
.breadcrumb_wrapper{
  background-color: #f7f7f7;
}
.breadcrumb{
  padding: 13px 15px;
  border-radius: 0;
}
  .breadcrumb a{
    font-size: 16px;
    color: #fa7600;
  }
  .breadcrumb .active,
  .breadcrumb .active:before{
    color: #303030;
    font-size: 14px;
  }

/* ck_editor */
.ck_editor{}
.ck_editor,
.ck_editor * {
  font-size: 14px;
  line-height: 23px;
  color: #303030;
}
.ck_editor img{
  /* add img-responsive for all ck_editor images */
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.ck_editor img.left{
  float: left;
  display: inline-block;
  margin: 0 25px 25px 0;
}
.ck_editor a{
  color: #fa7600;
}

/* animation */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
 